<h1 class="nav-header">About</h1>
<div class="author">
    <h1 class="author__heading">Hi, I am <span class="name">Shivendra </span>;)</h1>
    <p class="author__body">I am Final Year MCA student & a Web developer</p>
</div>